*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#414141, rgb(51, 51, 51));
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    height: 80vh;
    width:80%;
    background:linear-gradient(rgba(236, 236, 236, 0.7), rgba(117, 107, 75, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.search-bar{
    width:40%;
    border: none;
    border-bottom: 2px solid #e7c738;
    background-color: rgba(255, 255, 255, 0.1);
    color:rgb(83, 83, 83);
    border-radius: 15px 5px 15px 5px;
    padding:10px 15px;
    outline: none;
    font-size: 25px;
    transition: 0.5s ease-out;
}
.search-bar:focus{
    background-color: rgba(255, 255, 255, 0.8);
}

.location{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:30vh;
}
.location .location-timezone{
    font-size: 60px;
    text-shadow: 2px 4px rgb(83, 83, 83);
}
.temperature{
    background-color: rgba(102, 102, 102, 0.315);
    height:10vh;
    width:80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 16px 16px 16px 16px;
}

.degree-section{
display:flex;
cursor: pointer;
}
.degree-section span{
font-size: 30px;
}
.degree-section h2{
    font-size: 50px;
    text-shadow: 2px 3px rgba(68, 68, 68, 0.349);
}
@media screen and (max-width: 1080px){
    .search-bar{
        width: 90%;
    }
    .location .location-timezone{
        font-size: 30px;
    }
    .degree-section h2{
        font-size: 30px;
    }
    .wrapper{
        width:93%;
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .header, .content{
        
        margin-bottom: 5.5vh;
    }
    .content{
        height:50vh;
    }
}